@{
    ViewBag.Title = "控制台";
}

<style type="text/css">
    .bg {
        padding: 0 0;
        margin: 0 auto;
        background: #18c8f6;
        height:919px;
        background: url("../images/ruler.PNG") no-repeat;
        background-position: top center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
       background-color:#1f76bd;
    }

    .row div {
        text-align: center;
        font-size: 30px;
        margin-top: 200px;
    }
</style>
<body class="bg">
    <div>
        <div class="row">
            <div class="col-sm-12">
            </div>
        </div>
    </div>
</body>

