<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name ="connStr" connectionString="server=.;database=LibrarySystem;uid=sa;pwd=123456"/>
    <!--<add name ="connStr" connectionString="server=iZs4h2g540rs10Z;database=LibrarySystem;uid=sa;pwd=hcj123456#"/>-->
  </connectionStrings>
  <appSettings>
    <add key="ThreadCount" value="5"/>
    <add key="UpdCount" value="100"/>
    <add key="SleepTime" value="1"/>
  </appSettings>
</configuration>